@import '../../node_modules/normalize-scss/sass/normalize';
@include normalize();

@import './main.scss';
@import './components';

@import './header.scss';
@import './sideBar.scss';

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}
html {
  font-size: 62.5%;
}
body {
  font-size: 1.4rem;
  // overflow: hidden;
}
